head {
    text-align: center;
}
p {
    max-width: 500px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
}
.links {
    float: right;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    color:floralwhite;
    text-decoration: underline;
    font-size: 30px;
}

